* {
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 0;
  padding: 0;
}

main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  margin: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

#input {
  text-align: center;
}

#historyHome {
  padding-top: 25px;
  text-align: center;
}
