* {
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 0;
  padding: 0;
}

main {
  height: 100vh;
  width: 100%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  margin: 20px;
}



#weightContainer {
  display: flex;
  width: 50%;
  text-align: center;
  margin-top: 25px;
  flex-direction: row;
  justify-content: space-around;
  align-items: space-around;
}

#weightEntry {
  display: none;
  justify-content: space-evenly;
  align-items: space-between;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  width: 300px;
  height: 110px;
  border: 1px solid black;
  background-color: rgb(204, 204, 204);
  padding: 10px;
}

#weightEntry.active{
  display: flex;
}

.wEntryHeader {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

#inputField {
  text-align: center;
  width: 278px;
  height: 25px;
  border-radius: 3px;
  border: 1px solid black;;
  margin-bottom: 10px;
}

#wEntryButtons {
  display: flex;
  justify-content: flex-end;

}

#submit, #cancel {
  width: 30px;
  margin-left: 15px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}


/* History container */
#historyContainer {
  margin-top: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

#historyHeader {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

#plusButton {
  padding: 0px 4px;
  margin: 0px -4px;
}

.popUp {
  z-index: 1000;
  width: 500px;
  height: 300px;
}
